@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700");

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    width: 100%;
    height: 100%;
}

.logo{
    height: 27px;
    object-fit: cover;
    width: 152px;
    margin: 21px;
}

.header{
    background-color: #fafafa;
    box-shadow: 0, 0, 5px black;
    outline: 2px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    font-family: 'Montserrat Alternates';
    font-weight: 300;
    overflow: hidden;
}

.img-container{
    width: 50vw;
}

.easyboi{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}


.button-side{
    font-family: 'Montserrat Alternates';
    font-weight: 300;
    width: 50vw;
}

h2{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 40px;
}

p{
    background: #3551a3;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 130px;
}

.introduction{
    display: flex;
    align-items: center;
    height: 500px;
    width: 100%;
}

.feature{
    margin-block-end: 50px;
    font-family: 'Montserrat Alternates';
    text-align: center;
}

.start-planning{
    background-color: #3551a3;
    color: #fafafa;
    text-align: center;
    font-family: 'Montserrat Alternates';

    padding-top: 70px;
    padding-bottom: 70px;
}

.sign-up-free{
    background-color: #fafafa;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.log-link{
    text-decoration: none;
    color:black;
}

.log-link:hover{
    color:#3551a3;
}