body {
  background: #f1f2f7;
  font-family: 'Montserrat';
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

main{
  /*width: calc(100vw - 214.31px);*/
  margin-left: auto;
  margin-right: 0px;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 215px;
  }
}
    
.profile-nav, .profile-info{
  margin-top:30px;
}
    
.profile-nav .user-heading {
  background: #3551a3;
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 30px;
  text-align: center;
}
    
.profile-nav .user-heading.round a  {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(255,255,255,0.3);
  display: inline-block;
}
    
.profile-nav .user-heading a img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
    
.profile-nav .user-heading h1 {
  font-size: 22px;
  font-family:'Montserrat';
  font-weight: 300;
  margin-bottom: 5px;
}
    
.profile-nav .user-heading p {
  font-size: 12px;
  font-family:'Montserrat';
}

.profile-nav ul {
  margin-top: 1px;
  font-family:'Montserrat';
  margin-bottom: 5px;
}

.profile-nav ul > li {
  border-bottom: 1px solid #ebeae6;
  margin-top: 0;
  line-height: 30px;
}

.profile-nav ul > li:last-child {
  border-bottom: none;
}

.profile-nav ul > li > a {
  border-radius: 0;
  -webkit-border-radius: 0;
  color: #89817f;
  border-left: 5px solid #fff;
}

.profile-nav ul > li > a:hover, .profile-nav ul > li > a:focus, .profile-nav ul li.active  a {
  background: #f8f7f5 !important;
  border-left: 5px solid #3551a3;
  color: #89817f !important
}

.profile-nav ul > li:last-child > a:last-child {
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}

.profile-nav ul > li > a > i{
  font-size: 16px;
  padding-right: 10px;
  color: #3551a3;
}

.r-activity {
  margin: 6px 0 0;
  font-size: 12px;
}


.p-text-area, .p-text-area:focus {
  font-family:'Montserrat';
  border: none;
  font-weight: 300;
  box-shadow: none;
  color: #c3c3c3;
  font-size: 16px;
}

.profile-info .panel-footer {
  background-color:#f8f7f5 ;
  border-top: 1px solid #e7ebee;
}

.profile-info .panel-footer ul li a {
  color: #7a7a7a;
}

.bio-graph-heading {
  background: #3551a3;
  color: #fff;
  text-align: center;
  font-family:'Montserrat';
  padding: 10px 110px;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 500;
}

.bio-flow-heading {
  background: transparent;
  color: #7a7a7a;
  text-align: left;
  font-family:'Montserrat';
  padding: 10px 110px;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  font-size: 20px;
  font-weight: 500;
}

.bio-graph-bio {
  background:white ;
  color: #3551a3;
  text-align: center;
  font-family:'Montserrat';
  padding: 80px 110px;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 200;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bio-graph-info {
  background:white ;
  color: #89817e;
  font-family:'Montserrat';
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bio-graph-info h1 {
  font-size: 22px;
  font-weight: 300;
  margin: 0 0 20px;
  font-family:'Montserrat';
}

.bio-row {
  margin-bottom: 10px;
  padding:0 15px;
  width:880px;
}

.bio-row p span {
  width: 100px;
  display: inline-block;
}

.card{
  background-color: #fff;
  width: 200px;
  border-radius: 33px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem !important;
  display:inline-block;
  margin-left:30px;
  font-family:'Montserrat';
}

.top-container{
  display: flex;
  align-items: center;
}

.card:hover { 
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); 
}

.control-width { 
  width: 70%; margin: auto; 
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: white;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background:  #3551a3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

    .switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 24px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
     background:#3551a3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
    
    /* Sidebar */
    .sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 20px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 200px;
    z-index: 600;
    }
    
    @media (max-width: 991.98px) {
    .sidebar {
    width: 100%;
    }
    }
    .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }
    
    .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }

    .navbarcol {
        margin: 5px;
        padding: 5px;
        background-color: #fff;
        margin-left: auto; 
        margin-right: 0;
        text-align: left;
    }
    
    .navbar {
        
        margin-left: 0;
        margin-right: 0;
        font-size: larger;
    }
