<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head'); -%>
        <title>Homepage</title>
    </head>
    <body>
    <header>
        <%- include('partials/sidebar'); -%>
    </header>
        <main>
        <%- include('partials/searchbar'); -%>
        <br>
        <h2 style="text-align:center">Hello, <b>Camila Smith!</b></h2>
        <h5 style="text-align:center">What do you want to do?</h5> <br/>

        <div class="card-group">
            <a href="/viewflowcharts">
            <div class="card">
                <i class="fa-solid fa-eye fa-4x"></i>
                    <div class="card-body">
                        <h5 class="card-title"><b>View my Flowchart</b></h5>
                        <p class="card-text"><small class="text-muted">See all of your created works.</small></p>
                    </div>
            </div>
            </a>
            <a href="/editflowchart">
            <div class="card">
                <i class="fa-solid fa-diagram-predecessor fa-4x"></i>
                <div class="card-body">
                <h5 class="card-title"><b>Make a new Flowchart</b></h5>
                <p class="card-text"><small class="text-muted">Create a new one!</small></p>
                </div>
            </div>
            </a>
            <a href="/invitefriends">
            <div class="card">
                <i class="fa-solid fa-user-group fa-4x"></i>
                <div class="card-body">
                <h5 class="card-title"><b>Invite Friends</b></h5>
                <p class="card-text"><small class="text-muted">Sharing is caring.</small></p>
                </div>
            </div>
            </a>
            </div>
        
        </main>
        <%- include('partials/footer'); -%>
    </body>
</html>
