<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="icon" type="image/png" href="images/icon.png">
        <title>EasyFlow</title>
    </head>
    <body> 
        <div class="header">
            <img class="logo" src="images/LOGO.png" alt="EasyFlow">
            <a href="/login" class="log-link"><h3>Log-in</h3></a>
        </div>
        <div class="introduction">
            <div class="img-container">
                <img class="easyboi" src="images/easyBoi_helping.png" alt="EasyBOI helping someone out!">
            </div>
            <div class="button-side">
                <h2>Planning your next term?</h2>
                <h2>Let me help you!</h2>
                <a href="#signup" class="log-link"><p>Start Planning</p></a>
            </div>
        </div>
        <div class="feature">
            <h2>Planning by just</h2>
            <h2>dragging and dropping.</h2>
            <div class="drag-drop-description">
                EasyFlow is an interactive flowchart creator which</br>
                incorporates a drag-and-drop system. Letting users</br>
                plan with ease.
            </div>
        </div>
        <div class="feature">
            <h2>Connect with the community.</h2>
            <div class="share-description">
                EasyFlow allows you to look for your friends and</br>
                share your flowcharts among yourselves. But this</br>
                does not limit to friends only but also to the public.</br>
            </div>
        </div>
        <div class="start-planning">
            <h2>What are you waiting for?</h2>
            <h2>Start planning with us!</h2>
            <div id="signup">
                <a href="/register" class="log-link"><p class="sign-up-free">Sign Up for Free</p></a>
            </div>
        </div>
    </body>
</html>