<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head'); -%>
</head>
<body>
<header>
    <%- include('partials/sidebar'); -%>
</header>
<main>
    <%- include('partials/searchbar'); -%>
    <br>
    <h2 style="text-align:left;margin-left:1em">Here's what we found:</h2>
    <!-- Friend Results -->
    <div class="friend-list">
        <ul class="list-group list-group-flush">
            <a  href="FriendsProfile1.html" style="text-decoration: none;">
            <li class="list-group-item content">
                <div >
                    <img src="images/andrea-piacquadio.jpg" class="friend-icon" alt="FriendResult1">
                </div>
                <div class="friend-txt">Andrea Piacquadio
                    <div class="friend-subtxt">3 flowcharts created</div>
                </div>
                <div class="friend-button"> <button type="button" class="btn btn-primary btn-sm">Send Request</button></div>
            </li>
            </a>

            <a  href="FriendsProfile2.html" style="text-decoration: none;">
            <li class="list-group-item content">
                <div >
                    <img src="images/daniel-xavier.jpg" class="friend-icon" alt="FriendResult2">
                </div>
                <div class="friend-txt">Daniel Xavier
                    <div class="friend-subtxt">4 flowcharts created</div>
                </div>
                <div class="friend-button"> <button type="button" class="btn btn-primary btn-sm">Send Request</button></div>
            </li>
            </a>

            <a  href="FriendsProfile3.html" style="text-decoration: none;">

            <li class="list-group-item content">
                <div >
                    <img src="images/italo-melo.jpg" class="friend-icon" alt="FriendResult3">
                </div>
                <div class="friend-txt">Italo Melo
                    <div class="friend-subtxt">6 flowcharts created</div>
                </div>
                <div class="friend-button"> <button type="button" class="btn btn-primary btn-sm">Send Request</button></div>
            </li>
            </a>

            <a  href="FriendsProfile4.html" style="text-decoration: none;">
            <li class="list-group-item content">
                <div >
                    <img src="images/christina-morillo.jpg" class="friend-icon" alt="FriendResult4">
                </div>
                <div class="friend-txt">Christina Morillo
                    <div class="friend-subtxt">1 flowchart created</div>
                </div>
                <div class="friend-button"> <button type="button" class="btn btn-primary btn-sm">Send Request</button></div>
            </li>
            </a>

            <a  href="FriendsProfile5.html" style="text-decoration: none;">
            <li class="list-group-item content">
                <div >
                    <img src="images/stefan-stefancik.jpg" class="friend-icon" alt="FriendResult5">
                </div>
                <div class="friend-txt">Stefan Stefancik
                    <div class="friend-subtxt">2 flowcharts created</div>
                </div>
                <div class="friend-button"> <button type="button" class="btn btn-primary btn-sm">Send Request</button></div>
            </li>
            </a>
        </ul>
    </div>

</main>
    <%- include('partials/footer'); -%></body>
</html>
