@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700");
@import url('http://fonts.cdnfonts.com/css/liberation-sans');

body{
    height: 100%;
    width: 100%;
    margin: 0px;
    display: flex;
}

.logo{
    height: 27px;
    object-fit: cover;
    width: 152px;
    margin: 21px;
}

/*section{
    width: 800px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
}*/

.editing-flag{
    position: sticky;
    top: 0;
    z-index:1;
    background-color: rgb(255, 228, 77);
    width: calc(100%);
    text-align: center;
    padding: 15px;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.creating-flag{
    position: sticky;
    top: 0;
    z-index:1;
    background-color: rgba(56,138,226,1);
    color:white;
    width: calc(100%);
    text-align: center;
    padding: 15px;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#canvas{
    position: absolute;
    /* padding: 10px; */
    /* width: 330px; */
    height: 100%;
    top: 357.8px;
    left: 214.31px;
    z-index: 100;
    overflow: hidden;

    /* background: rgb(53,81,161);
    background: linear-gradient(90deg, rgba(53,81,161,1) 0%, rgba(56,138,226,1) 59%, rgba(0,174,249,1) 100%); */
}

#svg-canvas{
    width: 330px;
}

.subject{
    width: 90px;
    height: 40px;
    margin: 10px;
    /* z-index: 5; */

    position: absolute;
    display: flex;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 10pt;
    text-align: center;
    align-items: center;
    background: #fff;
    padding: 10px 5px 10px 7px;
    border-radius: 5px;
    color: #1a1a1a;
    outline: 2px solid black;

    transition: all .2s ease-in-out;
}

/*
NOT TAKEN YET : #FFFFFF
CURRENTLY BEING TAKEN: #83BBE5
PLANNED TO BE TAKEN NEXT TERM: #FFC374
TAKEN: #A3D977
*/

.three-dots{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    background-image: url("/images/three-dots.png");
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
    
    margin-left: 5px;
}

.flowchart-info{
    margin-block-start: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    color: #fafafa;
}

#flowchart-table{
    width: 330px;
    min-height: 60vh;
    display: flex;
    /* flex-direction: column; */
    
    /* margin: 20px auto 20px auto; */
}

.ay, #add-sy{
    background: rgba(182, 182, 182, 0.6);
    color: white;
    border-radius: 11px;
    /* width: 350px; */
    padding: 10px none 10px none;
    z-index:1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    text-align: center;
    
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 25px;
}

#add-sy{
    width: 90px;
    height: 100%;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.term{
    width: 110px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    
    display: flex;
    flex-direction: column;
    z-index:1;
}

.term-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1em;
}


.main-window{
    background: rgb(53,81,161);
    background: linear-gradient(90deg, rgba(53,81,161,1) 0%, rgba(56,138,226,1) 59%, rgba(0,174,249,1) 100%);
    width: calc(100vw - 214.31px);
    height:100%;
    /* overflow: auto; */
}

h1{
    font-size: 72px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: left;
    margin-left: 20px;
    margin-block-start: 0px;
    margin-block-end: 0;
}

h4{
    font-family: 'Montserrat';
    font-weight: 300;
    text-align: left;
    margin-left:20px;
    margin-block-start: 0;
}

h2{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 25px;
    color: #fafafa;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 10px;
}

h3{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    color: #fafafa;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 10px;
}

p{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 10pt;
    text-align: center;
    background: #a3d977;
    padding: 10px;
    border-radius: 5px;
    color: #1a1a1a;
    outline: 2px solid black;

    transition: box-shadow .2s;
    transition: all .2s ease-in-out;
}

p:hover{
    box-shadow: 0 0 8px black;
    transform: scale(1.03);
}

p:active{
    box-shadow: 0 0 10px black;
    transform: scale(1.1) rotate(2deg);
}

.dropdown{
    position:absolute;
    right:3.5em;
    bottom: 8px;
}

.modal-header{
    background: linear-gradient(90deg, rgba(53,81,161,1) 0%, rgba(56,138,226,1) 59%, rgba(0,174,249,1) 100%);
    color:white;
}

.form-check-label{
    font-size: larger;
    font-weight: bold;
}

