body {
    background: #f1f2f7;
    font-family: 'Montserrat';
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
  }

  a {
    text-decoration:none;
 }
  
  main{
    /*width: calc(100vw - 214.31px);*/
    margin-left: auto;
    margin-right: 0px;
  }
  
  @media (min-width: 991.98px) {
    main {
      padding-left: 215px;
    }
  }

  
  .card{
    background-color: #fff;
    width: 200px;
    height: 300px;
    border-radius: 33px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem !important;
    display:inline-block;
    margin-left:30px;
    font-family:'Montserrat';
    margin-bottom:50px;

  }

  .fa-edit, .fa-trash-alt{
    color:#7a7a7a;
  }
  
  .card-group{
    max-width:80em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .friend-list{
    height:fit-content;
    width:auto;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .friend-icon{
    border-radius:50%;
    width: 5em;
    height: 5em;
    object-fit:cover;
    border:#3551a3 2px solid;
  }
  
   .friend-button{
    padding:1em;
  }
  
  .friend-txt{
    padding:1em;
    font-weight: bold;
    font-size: large;
    flex-grow: 1;
  }
  
  .friend-subtxt{
    font-weight:lighter;
    font-size:small;
  }
  
  .friend-icon:hover{
    border:#ffffff 2px solid;
  }
  
   .friend-button:hover{
    color:white;
  }
  
  .list-group-item:hover{
    background-color:#b8b8b8;
    color:white;
  }
  
  .top-container{
    display: flex;
    align-items: center;
  }

  .bio-flow-heading {
    background: transparent;
    color: #7a7a7a;
    text-align: left;
    font-family:'Montserrat';
    padding: 10px 110px;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    font-size: 20px;
    font-weight: 500;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .control-width {
    width: 80%; margin-left:100px;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: white;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background:  #3551a3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  
      .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 24px;
      }
  
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
  
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
  
      .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
  
      input:checked + .slider {
       background:#3551a3;
      }
  
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
  
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
  
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
  
      .slider.round:before {
        border-radius: 50%;
      }
  
      /* Sidebar */
      .sidebar {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 20px 0 0; /* Height of navbar */
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
      width: 200px;
      z-index: 600;
      }
  
      @media (max-width: 991.98px) {
      .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .navbarcol {
    margin: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: 0;
    text-align: left;
  }
  
  .navbar {
    margin-left: 0;
    margin-right: 0;
    font-size: larger;
  }


  
  